Click==7.0
dnspython==1.16.0
email-validator==1.0.5
fastapi==0.44.1
gunicorn==20.0.4
h11==0.8.1
httptools==0.0.13
idna==2.8
psycopg2==2.8.4
pydantic==1.2
python-multipart==0.0.5
six==1.13.0
starlette==0.12.9
uvicorn==0.12.1
uvloop==0.14.0
websockets==8.1
pytest==5.3.2
